:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;
    --borderColor: #c1c1c1;
    --mainText: black;
    --secondaryText: #4b5156;
    --themeDotBorder: #24292e;
    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;
    --buttonColor: black;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body * {
    transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p,
a,
li,
label,
input,
textarea,
footer {
    color: var(--mainText);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

#navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    z-index: 1;
}
#profile-pic{
    width:50px;
    height:1000px;
    text-align:center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#menu {
    margin: 0;
    padding: 15px;
}

#menu li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#menu a {
    color: var(--mainText);
}

.dots {
    display: flex;
    padding: 10px;
}

#dot1 {
    background-color: #FC6058;
}

#dot2 {
    background-color: #FEC02F;
}

#dot3 {
    background-color: #2ACA3E;
}

.browser-dot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 35px;
}

.greeting-wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 10em;
    margin-top: 35px;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    margin-bottom: 50px;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper {
    grid-area: nav-wrapper;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
}

.dynamic-text {
    margin-left: 15px;
    overflow: hidden;
    line-height: 30px;
    height: 30px;
}

.dynamic-text li {
    position: relative;
    top: 0;
    animation: slide 15s steps(5) infinite;
    -webkit-animation: slide 15s steps(5) infinite;
}

@keyframes slide {
    100% {
        top: -150px;
    }
}

.dynamic-text li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--mainColor);
    border-left: 2px solid var(--mainText);
    animation: typing 3s steps(16) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

.left-column {
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile-pic {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    height: 400px;
    width: 400px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

#theme-options-wrapper {
    display: flex;
    justify-content: center;
}

.theme-dot {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid var(--themeDotBorder);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.theme-dot:hover {
    border-width: 5px;
}

#light-mode {
    background-color: #fff;
}

#blue-mode {
    background-color: #192734;
}

#green-mode {
    background-color: #78866b;
}

#purple-mode {
    background-color: #7E4C74;
}

#settings-note {
    text-align: center;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#preview-shadow {
    background-color: var(--previewShadow);
    width: 400px;
    height: 245px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview {
    width: 400px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
    text-align: center;
}

.corner {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right: -5px;
}

#corner-br {
    bottom: -5px;
    right: -5px;
}

#corner-bl {
    bottom: -5px;
    left: -5px;
}

.about-wrapper {
    display: grid;
    text-align: justify;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 50px;
    padding-top: 35px;
    gap: 100px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
    border-radius: 5px;
}

.social-links {
    display: grid;
    align-content: center;
    text-align: center;
}

#social_img {
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

#projects-wrapper {
    padding-top: 50px;

}

.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 420px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post {
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview {
    background-color: #fff;
    padding: 15px;
    text-align: center;
}

.post-title {
    color: black;
    margin: 0;
}

.post-intro {
    color: #4b5156;
    font-size: 14px;
}

#contact-wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
}

#contact {
    text-align: center;
}

.contactInfo {
    margin-top: 50px;
}

.box1,
.box2,
.box3 {
    background-color: var(--mainColor);
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.box i {
    color: var(--mainText);
}

footer {
    background-color: var(--mainColor);
    color: var(--mainText);
    text-align: center;
    padding: 10px;
}

footer span {
    font-size: 25px;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 1000px) {
    .greeting-wrapper {
        text-align: center;
    }

    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav-wrapper'
            'left-column'
            'right-column'
        ;
    }

    .right-column {
        padding-bottom: 100px;
        justify-content: center;
    }

    .about-wrapper {
        padding-top: 0;
    }
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 42px;
    }

    .greeting-wrapper {
        margin-top: 5%;
    }

    #profile-pic {
        width: 350px;
        height: 350px;
    }

    #preview-shadow {
        padding: 0;
        width: 350px;
    }

    #preview {
        padding: 0px;
        width: 350px;
    }

    .bio {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .about-wrapper {
        text-align: center;
    }
}

#contact {
    padding-top: 0;
    margin: 0;
    background-color: var(--mainColor);
}

.contact h2, h3 {
    color: var(--mainText);
}

.contact input, textarea {
    color: var(--mainText);
}

.contact-wrapper input, select, textarea {
    background-color: var(--secondaryColor);
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.submit {
    height: 30px;
    width: 80px;
    border-radius: 8%;
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;
    -ms-border-radius: 8%;
    -o-border-radius: 8%;
    cursor: pointer;
    border-color: var(--mainText);
}

.submit {
    box-shadow: inset 0px 1px 0px 0px var(--mainColor);
    background: linear-gradient(to bottom, var(--mainColor) 5%, var(--secondaryColor) 100%);
    background-color: var(--secondaryColor);
    border-radius: 6px;
    border: 2px solid #1a1818;
    display: inline-block;
    cursor: pointer;
    color: var(--mainText);
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px var(--mainText);
    width: 120px;
    margin-bottom: 10px;
}

.submit:hover {
    background: linear-gradient(to bottom, var(--mainColor) 5%, var(--secondaryColor) 100%);
    background-color: rgb(245, 202, 202);
}

.submit:active {
    position: relative;
    top: 1px;
}


.social-media-pack a {
    width: 5rem;
    height: 5rem;
    text-align: center;
    border-radius: 50%;
    transition: 0.5s;
    margin-left: 2rem;
}

.footer {
    padding-top: 2rem;
    width: 98.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: -1;
    margin-top: 2rem;
}

.footer hr {
    border: none;
    height: 0.1rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.footer-i {
    font-size: 2.5rem;
    padding: 0.2rem;
}

.copyright {
    font-family: var(--open-sans);
    font-size: 1.6rem;
}

.footer p {
    font-size: 1.2rem;
}


.footer-icons a img {
    height: 40px;
    width: 40px;
    padding: 10px;
}

.social-media-pack a img {
    height: 40px;
    width: 40px;
    padding: 3px;
}